.select {
    border: 1px solid #C2C2C2;
    width: 165px;
    height: 24px;
    border-radius: 2px;
    margin-right: 123px;
}

.select:focus {
    border: 1px solid #C2C2C2;
    border-radius: 2px;
}


.option:hover {
    border: 1px solid #C2C2C2;
    border-radius: 2px;
}
